<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <%= form_tag(:controller => "sessions", :action => "create") do %>
      <%= label_tag("Email:") %><br />
      <%= text_field "user", "email" %><br />
      <%= label_tag("Password:") %><br />
      <%= text_field "user", "password" %><br />
      <%= submit_tag("Submit") %><br />
  <% end %><br />

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
